<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
    <h1><%= title %></h1>
    <p>Welcome to
        <%= title %>
    </p>
    <form method="POST" action="/api/todo">
        Enter To Do List item:
        <br>
        <input type="text" name="item">
        <button type="submit">Add</button>
    </form>
    <br>
    <div class="list-body" To-Do>
        <div class="panel-body">
            <span class="list-group">
                <div id="whole">
                  <% for( let i = 0; i < todos.length; i++ ) { %>
                    <div>
                      <input type="checkbox" id="checkbox<%= i %>" />
                      <label id="<%= i %>" onclick="clicky('<%= i %>')" style="display: inline-block" contentEditable="false" action="edit" method="PUT">
                      <%= todos[ i ].task %>
                    </label>
                    </div>
                  <% } %>
              </div>
            </span>
        </div>
        <button type="complete" name="complete">Mark as Complete</button>
    </div>
    <form method="DELETE" action="/api/delete">
      <div>
        <button type="delete">Delete</button>
      </div>
    </form>
    <script src="main.js"></script>
</body>

</html>
